@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container-stepper {
  width: 900px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
} */

/* .grid-step {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  position: relative;
} */

.grid-step {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px 70px 30px;
  max-height: 130px;
  max-width: 1000px;
  justify-items: center;
  align-items: end;
  gap: 5px;
}

.step-product {
  grid-column: 1/2;
}

.step-color {
  grid-column: 3/4;
}

.step-accessory {
  grid-column: 5/6;
}

.step-review {
  grid-column: 7/8;
  grid-row: 3/4;
  align-self: start;
}

.step-user-product {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: start;
}
.circle-step {
  border-radius: 50%;
  border: 1px black solid;
  height: 66px;
  width: 66px;
  background-color: white;
  z-index: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle2 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.circle3 {
  grid-column: 5/6;
  grid-row: 2/3;
}

.circle4 {
  grid-column: 7/8;
  grid-row: 2/3;
}

.check-style {
  max-width: 100%;
  max-height: 100%;
}
.arrow-step {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  height: 100%;
  position: relative;
}
.arrow-step2 {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  height: 100%;
}
.arrow-step3 {
  grid-column: 6/7;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  height: 100%;
}
.arrow-step-img-disable {
  width: 200px;
  height: 100%;
  align-self: center;
  z-index: 9;
}

/* .arrow-step-img-active {
  width: 200px;
  height: 100%;
  align-self: center;
  display: block;
}

.arrow-step-img-inactive {
  width: 200px;
  height: 100%;
  align-self: center;
  display: none;
} */

/* .facheck {
  width: 36px;
  height: 34px;
}

.arrow-icon {
  position: absolute;
  right: calc(90%);
  content: '';
  font-size: large;
  left: 280px;
}

.wrapper::after {
  position: absolute;
  content: '';
  width: 17%;
  left: 16%;
  height: 4px;
  background-color: black;
  z-index: -1px;
  top: 56px;
} */
