@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-stepper {
  width: 900px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  position: relative;
}

.circle-step {
  border-radius: 50%;
  border: 1px black solid;
  height: 50px;
  width: 50px;
  margin: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10px;
}

.facheck {
  width: 36px;
  height: 34px;
}

.arrow-icon {
  position: absolute;
  right: calc(90%);
  content: '';
  font-size: large;
  left: 280px;
}

.wrapper::after {
  position: absolute;
  content: '';
  width: 17%;
  left: 16%;
  height: 4px;
  background-color: black;
  z-index: -1px;
  top: 56px;
}
